* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Open-sans, sans-serif;
  font-size: 12px;
  background-color: black;
}
ul li {
  list-style-type: none;
}

.header {
  margin: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.navbar ul {
  display: flex;
}

.navbar li {
  margin: 0 5px;
  align-items: center;
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
}

.card {
  width: 180px;
}

.card img {
  width: 100%;
  display: block;
}

.card span {
  color: white;
  display: block;
  margin-top: 8px;
  font-size: 14px;
}
